@charset "UTF-8";
/* ========= FUENTES ========== */
* {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #1C1B4D;
  background-size: cover;
  background-position: center;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  background: url("../../imagenes/banner1.jpg");
  -webkit-animation: banner 10s infinite linear;
          animation: banner 10s infinite linear;
}

.banner-content {
  margin: 0;
  padding: 0;
  margin-top: 80px;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(28, 27, 77, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-content .h1__titulo {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
}

.boton {
  text-decoration: none;
}

.btn1, .btn2 {
  background-color: #B80E65;
  border-radius: 28px;
  border: 1px solid #B80E65;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #B80E65;
  font-size: 16px;
}

.btn1:hover, .btn2:hover {
  color: #fff;
  background-color: #1c1b4d;
}

.btn2 {
  background-color: #fff;
  color: #B80E65;
}

.btn2:hover {
  background-color: #1C1B4D;
  color: #fff;
}

@-webkit-keyframes banner {
  0% {
    background: url("../../imagenes/banner1.jpg");
  }
  50% {
    background: url("../../imagenes/banner1.jpg");
  }
  51% {
    background: url("../../imagenes/banner2.jpg");
  }
  100% {
    background: url("../../imagenes/banner2.jpg");
  }
}

@keyframes banner {
  0% {
    background: url("../../imagenes/banner1.jpg");
  }
  50% {
    background: url("../../imagenes/banner1.jpg");
  }
  51% {
    background: url("../../imagenes/banner2.jpg");
  }
  100% {
    background: url("../../imagenes/banner2.jpg");
  }
}

/*====================================== INDEX -ICONOS E INFO DE LOS SERVICIOS===========================================*/
.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  margin-top: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slide-in-fwd-bottom {
  -webkit-animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.icons_1, .icons_2, .icons_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 25%;
  border-radius: 3%;
}

.icons__h2 {
  font-size: 28px;
  color: #1C1B4D;
  text-align: center;
}

.icons_1 p, .icons_2 p, .icons_3 p {
  text-align: center;
  font-size: 16px;
  color: #1C1B4D;
}

.icons__image {
  width: 30%;
}

.icons_1:hover, .icons_2:hover, .icons_3:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.icons_2 p {
  text-align: center;
  font-size: 16px;
}

.icons_2:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.icons_3 p {
  text-align: center;
  font-size: 16px;
}

.icons_3:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* ================================ INDEX -DESCRIPCIÓN DE LA SEGURIDAD DEL SITIO======================================*/
.security {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  /* flex-wrap: nowrap; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-left: 10%;
}

.security__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  position: relative;
  width: 30%;
  height: 30%;
}

.security-h2 {
  font-weight: bold;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 10%;
  margin-bottom: 2%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1C1B4D;
}

.security__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  width: 80%;
  background-color: #b80e6648;
  border-radius: 1%;
}

.security__container h2 {
  color: #1C1B4D;
}

.container-1, .container-2 {
  width: 80%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
}

.icon-security_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 10px;
  position: relative;
  margin-top: 15px;
}

.security-p {
  color: #1C1B4D;
  width: 60%;
  text-align: center;
}

.icon-security_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-color: black;
  border: 10px;
  position: relative;
  margin-top: 15px;
}

.icon-security_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  border-color: black;
  border: 10px;
  position: relative;
  margin-top: 15px;
}

.icon-security_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  border-color: black;
  border: 10px;
  position: relative;
  margin-top: 15px;
}

/* =================================== INDEX-COMO SER CLIENTE DEL BANCO ====================================*/
.be-part-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  margin-top: 70px;
}

.be-part-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  margin-top: 70px;
  padding: auto;
}

.be-part-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #1C1B4D;
  font-weight: bold;
  font-size: 28px;
}

.be-part-icon_1, .be-part-icon_2, .be-part-icon_3, .be-part-icon_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  border-radius: 3%;
  padding: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

.be-part-icon_1 p, .be-part-icon_2 p, .be-part-icon_3 p, .be-part-icon_4 p {
  text-align: center;
  font-size: 16px;
  color: #1C1B4D;
}

.be-part-icon_1:hover, .be-part-icon_2:hover, .be-part-icon_3:hover, .be-part-icon_4:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.be-part-icon_2 p {
  text-align: center;
  font-size: 16px;
}

.be-part-icon_2:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.be-part-icon_3 p {
  text-align: center;
  font-size: 16px;
}

.be-part-icon_3:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.be-part-icon_4 p {
  text-align: center;
  font-size: 16px;
}

.be-part-icon_4:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* =================================== INDEX-CÓMO INGRESAR DINERO A LA CUENTA ===================================*/
.load-money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.load-money-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: #1C1B4D;
}

.load-money-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  margin-bottom: 3%;
  margin-top: 3%;
}

.load-money-icon_1, .load-money-icon_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 1px 10px -3px #B80E65;
          box-shadow: 1px 1px 10px -3px #B80E65;
  border-radius: 3%;
  width: 40%;
  padding: 2%;
}

.load-money-icon_1:hover, .load-money-icon_2:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.load-money-icon_2:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 900px) {
  /*RESPONSIVE - INDEX*/
  .h1__titulo {
    font-size: 28px;
    width: 80%;
  }
  .main__parrafo {
    width: 80%;
    text-align: center;
  }
  .btn2 {
    margin-top: 10px;
  }
  .imagen_1 {
    position: relative;
    display: block;
    width: 80%;
    padding: 10%;
    border-bottom: 1px solid #1C1B4D;
  }
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 80%;
    margin: auto;
    position: relative;
    margin-top: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #1C1B4D;
  }
  .icons_1, .icons_2, .icons_3, .icons_2, .icons_3 {
    width: 80%;
    margin: 10px;
  }
  .security__image {
    display: none;
  }
  .security__container {
    background-color: #fff;
  }
  .security-h2 {
    font-size: 28px;
    font-weight: bold;
    width: 80%;
    padding-top: 8%;
    margin: auto;
  }
  .container-1, .container-2, .container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 120%;
    background-color: none;
    margin-top: 20px;
  }
  .be-part-title {
    font-size: 28px;
    width: 80%;
    padding-top: 8%;
    border-top: 1px solid #1C1B4D;
    margin: auto;
  }
  .be-part-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    max-width: 117rem;
    position: relative;
    margin-top: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .be-part-icon_1, .be-part-icon_2, .be-part-icon_3, .be-part-icon_4, .be-part-icon_2, .be-part-icon_3, .be-part-icon_4 {
    width: 80%;
    margin: 10px;
  }
  .load-money {
    margin-top: 20%;
    border-top: 1px solid #1C1B4D;
    width: 80%;
    margin: auto;
  }
  .load-money-icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .load-money-icons .load-money-title {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }
  .load-money-icons .load-money-icon_1, .load-money-icons .load-money-icon_2, .load-money-icons .load-money-icon_2 {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .load-money-icons .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .load-money-icons .social-networks, .load-money-icons .contact, .load-money-icons .iframe {
    width: 100%;
  }
}

.header {
  background-color: #1C1B4D;
  width: 100%;
}

nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #1C1B4D;
  z-index: 100000;
  top: 0;
}

.enlace {
  position: absolute;
  padding: 20px 50px;
}

.logo {
  height: 40px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}

li a.active, li:hover {
  background: #B80E65;
  -webkit-transition: .5s;
  transition: .5s;
  color: #fff;
}

a:hover {
  color: #fff;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 925px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  .ul-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1C1B4D;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover, li.active {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.main-container-earn {
  position: relative;
  margin-top: 150PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10PX;
}

.main-container-earn h1 {
  color: #1C1B4D;
  font-size: 40px;
  font-weight: bold;
}

.main-container-earn p {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  width: 50%;
  border-bottom: 2px solid #1C1B4D;
  padding-bottom: 20px;
}

.earn-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 45%;
}

.cripto-earn {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #1C1B4D;
  margin: auto;
}

.crypto_1, .crypto_2, .crypto_3, .crypto_4 {
  border-radius: 3%;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16%;
  text-align: center;
  -webkit-box-shadow: 1px 1px 10px -3px #B80E65;
          box-shadow: 1px 1px 10px -3px #B80E65;
  color: #1C1B4D;
}

.crypto_1 h3, .crypto_2 h3, .crypto_3 h3, .crypto_4 h3 {
  color: #1C1B4D;
  font-size: 28px;
}

.crypto_1:hover, .crypto_2:hover, .crypto_3:hover, .crypto_4:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-container-whyvini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 100px;
  margin-bottom: 80px;
  padding: 5%;
  background-color: #B80E65;
}

.whyvini-title {
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}

.main-whyvini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

.main-whyvini p {
  text-align: center;
  color: #1C1B4D;
  font-size: 16px;
}

.main-container-whyvini_1, .main-container-whyvini_2, .main-container-whyvini_3 {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 25%;
  border-radius: 3%;
  color: #1C1B4D;
  background-color: #fff;
}

.main-container-whyvini_1, .main-container-whyvini_2, .main-container-whyvini_3 {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .cripto-earn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .crypto_1, .crypto_2, .crypto_3, .crypto_4, .crypto_5 {
    width: 80%;
    margin-top: 10px;
  }
  .main-whyvini {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-container-whyvini_1, .main-container-whyvini_2, .main-container-whyvini_3 {
    width: 80%;
    margin: 10px;
  }
}

/* .footer-container{
            flex-direction: column;
    }
        
    .social-networks, .contact, .iframe{
           width: 100%;
    
    }
    .footer-container{
        flex-direction: column;
    }
    
   .social-networks, .contact, .iframe{
       width: 100%;

   }
 }

.footer-container{
    background-color:$vini-color;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 130PX;
    flex-wrap: wrap;
    padding: 2%;
    align-items: center;
    justify-content: space-evenly;
    
}
    
    

.footer { grid-area: 3 / 1 / 4 / 3; }

.footer-title{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 50px;
}
    
.social-networks{
    color: #fff;
    list-style: none;
    position: relative;
    width: 30%;
    padding: 2%;
}
    
.social-networks-ul{
    display: flex;
    margin-right: 50px;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.social-networks-ul a{
    text-decoration: none;
    color: white;
}



.contact{
    margin-top: 50px;
    color: #fff;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    padding: 2%;
}


    
    

iframe{
    display: flex;
    position: relative;
    width: 30%;
    padding: 2%;
}
     */
.main-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-title {
  color: #1C1B4D;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 10%;
  padding: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
}

.main-container-card {
  position: relative;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: auto;
}

.main-container-list {
  position: relative;
  list-style: none;
  padding: 60px;
}

.main-container-list h2 {
  color: #1C1B4D;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
}

.main-list li {
  text-decoration: none;
  list-style: none;
  color: #1C1B4D;
  font-size: 16px;
}

.card-image {
  border-radius: 20px;
  width: 525px;
  height: 320px;
  position: relative;
}

.scale-up-hor-center {
  -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* ================================================== TARJETA - REGISTRATE  ================================*/
.main-registrate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
  width: 100%;
  height: 50%;
  margin-bottom: 5%;
  margin: auto;
}

.registrate-boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  width: 50%;
}

.boton {
  text-decoration: none;
}

.btn-login {
  border-radius: 28px;
  background-color: #B80E65;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 16px 31px;
  text-align: center;
  text-shadow: 0px 1px 0px #B80E65;
  margin: auto;
  margin-top: 2%;
  width: 30%;
}

.btn-login:hover {
  background-color: #1C1B4D;
  color: #fff;
}

.main-registrate h2 {
  text-align: center;
  color: #1C1B4D;
  font-size: 28px;
}

.card-button {
  display: block;
  width: 60%;
  height: 50px;
  background-color: #B80E65;
  font-family: 'Lato', sans-serif;
  border-color: #B80E65;
  border-style: none;
  border-radius: 3%;
  margin-top: 20px;
}

.card-login {
  width: 30%;
  height: 30%;
}

/*RESPONSIVE - TARJETA*/
@media screen and (max-width: 900px) {
  .card-title {
    margin-top: 30%;
    font-size: 28px;
  }
  .list-title {
    margin-top: 30%;
    font-size: 28px;
  }
  .main-container-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-image {
    width: 80%;
    height: 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-list li {
    text-align: left;
    padding: 10px;
    width: 100%;
  }
  .card-login {
    display: none;
  }
  .main-registrate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .registrate-boton h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    width: 100%;
  }
  .btn-login {
    width: 100%;
    height: 15%;
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-registrate h2 {
    width: 100%;
  }
}

.main-nosotros-h2 {
  margin-top: 10%;
  margin-bottom: 0%;
  text-align: center;
  padding: 5%;
  background-color: #b80e663c;
  font-size: 40px;
  color: #1C1B4D;
}

.main-nosotros {
  top: 0%;
  width: 80%;
  margin: auto;
}

.main-about-us {
  border-bottom: 1px solid #1C1B4D;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
}

.span-bold {
  font-weight: bold;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

.about-us {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us-titulo {
  display: inline;
  font-size: 28px;
  position: relative;
  color: #1C1B4D;
  font-weight: bold;
}

.about-us-parrafo {
  width: 100%;
  margin: auto;
  margin-top: 1%;
  position: relative;
  font-size: 16px;
  color: #1C1B4D;
  text-align: left;
}

.us-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 10%;
  width: 70%;
  margin-right: -7%;
}

/* ================================ NOSOTROS - EQUIPO ====================================================*/
.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  position: relative;
  margin-top: 10px;
  border-bottom: 1px solid #1C1B4D;
}

.team h2 {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 28px;
}

.team p {
  padding-bottom: 20px;
  text-align: center;
  width: 80%;
}

.team img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
}

/* ================================================NOSOTROS - CLIENTES=================================*/
.customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
  position: relative;
  padding-bottom: 5%;
  border-bottom: 1px solid #1C1B4D;
}

.customer h2 {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 28px;
}

.customer p {
  padding-bottom: 20px;
  text-align: center;
  width: 80%;
  font-size: 16px;
}

.customer img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
}

/*====================================================== NOSOTROS - SEGURIDAD */
.cybersecurity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  position: relative;
  margin-bottom: 10%;
}

.cybersecurity h2 {
  display: inline;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  padding: 8%;
}

.cybersecurity-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cybersecurity p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  text-align: left;
  text-align: left;
  font-size: 16px;
}

.cybersecurity-img {
  width: 50%;
  height: 50%;
}

/*=============================== NOSOTROS - METRICAS ==========================================*/
.metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  margin-top: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.metrics p {
  text-align: center;
}

.metric-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 1px 10px -3px #1791b1;
          box-shadow: 1px 1px 10px -3px #1791b1;
  padding: 5px;
  width: 20%;
  border-radius: 3%;
}

.metric-1:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.metric-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 1px 10px -3px #1791b1;
          box-shadow: 1px 1px 10px -3px #1791b1;
  padding: 5px;
  width: 20%;
  border-radius: 3%;
}

.metric-2:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.metric-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 1px 10px -3px #1791b1;
          box-shadow: 1px 1px 10px -3px #1791b1;
  padding: 5px;
  width: 20%;
  border-radius: 3%;
}

.metric-3:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.metric-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 1px 10px -3px #1791b1;
          box-shadow: 1px 1px 10px -3px #1791b1;
  padding: 5px;
  width: 20%;
  border-radius: 3%;
}

.metric-4:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 900px) {
  .main-nosotros {
    margin-top: 0;
    width: 100%;
    margin: auto;
  }
  .main-about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    margin-top: 15%;
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #1C1B4D;
  }
  .main-nosotros-h2 {
    font-size: 28px;
    text-align: justify;
  }
  .about-us-titulo {
    text-align: center;
  }
  .about-us {
    margin-left: 0%;
  }
  .us-image {
    position: relative;
    display: block;
    width: 100%;
    padding: 10%;
  }
  .main-nosotros-h2 {
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }
  .customer img {
    width: 80%;
  }
  /*  .contact__form{
            flex-flow: column wrap;
            width: 80%;
            
        }
        .contact__form-text, .fielset, .contact__form{
        margin-top: 15%;
            width: 100%;

        } */
  .metrics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    max-width: 117rem;
    position: relative;
    margin-top: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .metric-1, .metric-2, .metric-3, .metric-4 {
    width: 80%;
    margin: 10px;
  }
  .cybersecurity {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cybersecurity p {
    width: 100%;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
  }
  .cybersecurity-img {
    width: 100%;
    padding-bottom: 8%;
  }
}

.container-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-form {
  width: 40%;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 100, 0.9)), to(rgba(0, 0, 100, 0.9))), url(../../imagenes/fondo.jpg);
  background-image: linear-gradient(rgba(0, 0, 100, 0.9), rgba(0, 0, 100, 0.9)), url(../../imagenes/fondo.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-form h2 {
  color: #fff;
  font-size: 28px;
  padding: 20px;
}

.input-login {
  background: transparent;
  border: 1px solid #fff;
  margin: 6px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}

.input-login::-webkit-input-placeholder {
  color: #e3e2e2;
}

.input-login:-ms-input-placeholder {
  color: #e3e2e2;
}

.input-login::-ms-input-placeholder {
  color: #e3e2e2;
}

.input-login::placeholder {
  color: #e3e2e2;
}

.login-button {
  background-color: #B80E65;
  border-radius: 28px;
  border: 1px solid #B80E65;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  padding: 10px 50px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #B80E65;
  font-size: 16px;
}

/* .cont{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left, $vini-color, $primary-color)

} */
/* .main-login{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin-top: 10%;
    height: 70vh;
    
}
   
.user-login{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: auto;
}



#form{
    display: flex;
    flex-direction: column;
}
    

    
    
    
.contact__form-text-login{
    flex-direction: column;
    padding: 8%; 
    width: 50%;
    height: 70%; 
    color: $vini-color;
    font-family: 'Lato', sans-serif;
        h2{
            font-weight: bold;
            
            
        }
    
  
}




legend{
    text-align: center;
    margin-bottom: 10%;
    color: $vini-color;
    font-size: $subtitulos;
    }
    
   
    
 .fielset-login{
    margin: auto;
    padding: 2%;
    width: 50%;
    height: 90%;
    margin-bottom: 10%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1)
    } 
    
    




/*inicia sesion*/
/* #button{
    background-color:$vini-color;
	border-radius:28px;
	border:1px solid $primary-color;
	display:inline-block;
	cursor:pointer;
	color:#665d5d;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px $primary-color;
    width: 50%;
    margin-left: 25%;
}

.forgot-pass{
    margin: auto;
    padding: 2%;
}

@media screen and (max-width: 900px){
    
    .main-login{
        margin-top: 30%;
       
        
        
    }
    
    
    .contact__form-login{
        flex-wrap: wrap;
        flex-direction: column;
        
        
    }
    .contact__form-text-login{
        width: 90%;
        margin:auto;    }
    
        .fielset-login{
        width: 90%;
        margin: auto;
        margin-bottom: 10%;
    }

    .user-login{
        width: 50px;
        height: 50px;
    }
} */
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8%;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mensaje-contacto {
  width: 40%;
  margin-left: 25%;
}

.contact__form-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8%;
  width: 50%;
  height: 70%;
  color: #1C1B4D;
  font-family: 'Lato', sans-serif;
}

.contact__form-text h2 {
  font-weight: bold;
  font-size: 28px;
}

.contact__form-text p {
  font-size: 16px;
}

.google-img {
  width: 35%;
  margin-right: 0%;
}

.app-img {
  width: 30%;
}

legend {
  text-align: center;
  margin-bottom: 10%;
  color: #1C1B4D;
  font-weight: bold;
}

.fielset {
  margin-right: 5%;
  padding: 2%;
  width: 50%;
  height: 60%;
  margin-bottom: 10%;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

legend {
  font-size: 28px;
  font-weight: bold;
}

#exampleNewsletter {
  margin-left: 25%;
  margin-right: 8px;
}

#button-contact {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #B80E65;
  font-family: 'Lato', sans-serif;
  border-color: #B80E65;
  border-style: none;
  border-radius: 3%;
  margin-top: 20px;
}

/*inicia sesion*/
.main-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-form {
  margin-top: 10%;
  width: 7 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-user {
  margin-top: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.form-label {
  color: #1C1B4D;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

#button {
  background-color: #B80E65;
  border-radius: 28px;
  border: 1px solid #B80E65;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #B80E65;
  width: 50%;
  margin-left: 25%;
}

@media screen and (max-width: 900px) {
  .contact__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__form-text {
    width: 80%;
    margin: auto;
    margin-top: 20%;
  }
  .fielset {
    width: 80%;
    margin: auto;
    margin-bottom: 20%;
  }
  .form-check-label {
    font-size: smaller;
    width: 50%;
  }
}

.footer {
  background-color: #1C1B4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#social a {
  text-decoration: none;
  color: #fff;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 60%;
  padding: 8px;
  margin-top: 10px;
}

#social a:hover {
  background-color: #B80E65;
  color: #fff;
}

.footer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: bold;
}

.contacto {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .contact-title {
  font-weight: bold;
}

iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 30%;
  padding: 2%;
}

@media screen and (max-width: 900px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social, .contacto, iframe {
    width: 100%;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */