* {
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
/* BARRA DE NAVEGACION*/





.menu-bar {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #1C1B4D;
    position:fixed;
    z-index: 1000;
    top: 0;
    
}

.ul-nav {
    display: flex;
    background-color: #1C1B4D;
    margin-right: 50px;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;


}

.nav__li {
    margin-top: 25px;
    margin-left: 40px;
    display: flex;


}

.nav__li_active {
    margin-top: 15px;
    margin-left: 520px;
}

.li__a {
    text-decoration: none;
    color: white;
}

.li__a_active {
    text-decoration: none;
    font-size: large;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 5px;
}
/* PORTADA*/

.index-main-texto{
    background-color: white;
}

.main__texto {
    display: flex;
    position: relative;
    margin-top: 150px;
    
    
    

}

.h1__titulo {
    padding: 0px, 0px;
    margin-left: 120px;
    margin-top: 120px;
    position: absolute;
    display: inline;
    /*no se le puede dar height ni width a los inline*/
    color: #1C1B4D;
   
}
    
.imagen_1 {
    position: relative;
    
    margin-left: 200px;
}

.main__parrafo { /*EL TEXTO QUEDA MAL ALINEADO, NO HACE UN SALTO A LA LÍNEA DE ABAJO*/
    margin-top: 180px;
    margin-left: 120px;
    margin-right: 30px;
    font-size: medium;
    color: #1C1B4D;
    text-align: left;
    
}

/* ICONOS E INFO DE LOS SERVICIOS*/
/* acá quiero que cada "cajita" tenga un borde pero no sé cómo ponerlo ya que así como está no funciona. También que todas las cajitas midan lo mismo y el texto dentro se ajuste al tamaño */
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin-top: 70px;
}
    
.icons_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black 3px;
    padding: 5px;
    
}
    

.icons_2 {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black 3px;
    padding: 5px;
    
}

.icons_3 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black 3px;
    padding: 5px;
}





/*DESCRIPCIÓN DE LA SEGURIDAD DEL SITIO*/

.security{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 100px;
    column-gap: 20px;
    
}
    
    


.security__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 10px;
    margin-right: 30px;
    padding: 10px;
    justify-items: center;
    align-items: center;
    
}

/*.security {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin: 200px;
}


    
.security__container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    border: 10px solid blueviolet;
    margin-right: 300px;
    margin-top: 30px;
    position: relative;
    padding: auto;
    
    background-color: aqua;
}*/
    


.icon-security_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: black;
    border: 10px;
    position: relative;
    margin-top: 15px;
  
}
.icon-security_1 p {
    text-align: center;
    
}
    


.icon-security_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: black;
    border: 10px;
    position: relative;
    margin-top: 15px;
}

.icon-security_2 p {
    text-align: center;
    
}

.icon-security_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    border-color: black;
    border: 10px;
    position: relative;
    margin-top: 15px;
}

.icon-security_3 p {
    text-align: center;
    
}
    
.icon-security_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    border-color: black;
    border: 10px;
    position: relative;
    margin-top: 15px;
}

.icon-security_4 p {
    text-align: center;
    
}

    
.security__image {
    display: flex;
    margin-left: 200px;
    position: relative;
    margin-bottom: 80px;
}

    

 /*COMO SER CLIENTE DEL BANCO*/   

 .be-part-main {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     position: relative;
     margin-top: 70px;
 }
     
 
 .be-part-icons { /*ACÁ TAMBIÉN QUIERO QUE CADA "CAJITA" TENGA UN BORDE PERO NO APARECE*/
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     position: relative;
     margin-top: 70px;
     
 } 
 
 .be-part-title{
     position: relative;
     display: flex;
     justify-content: center;
     
     
 }
 .be-part-icon_1 {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-color: black;
     border: 10px;
    
 }
 
 .be-part-icon_2 {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-color: black;
     border: 10px;
     
 }
 
 .be-part-icon_3 {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-color: black;
     border: 10px;
      
 }
 
 .be-part-icon_4 {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
      border-color: black;
     border: 10px;
 
 }

/*CÓMO INGRESAR DINERO A LA CUENTA*/

.load-money {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin-top: 70px;
    }
      
    
.load-money-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin-top: 70px;
    
} 
    
.load-money-title{
    position: relative;
    display: flex;
    justify-content: center;
}
    
        
.load-money-icon_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: black;
}
       
        
.load-money-icon_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: black;
    border: 10px;
}
        
/*FOOTER*/
.footer-container{
    background-color: #1C1B4D;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 150px;
}

.footer-title{
    margin-left: 30px;
    display: flex;
    color: white;
    margin-top: 50px;
}
    
.social-networks{
    
    list-style: none;
    position: relative;
    margin-left: 90px;
}
    
.social-networks-ul{
    display: flex;
    margin-right: 50px;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*FORMULARIO DE CONTACTO - LA BARRA DE NAVEGACION QUEDA MAL POSICIONADA*/

.contact{
    margin-top: 50px;
   
}

.contact p{
    display: flex;
    position: relative;
    margin-left: 300px;
    margin-top: 10px;
    color: white;
}

iframe{
    display: flex;
    position: relative;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
}


/*NOSOTROS - ACÁ SÍ LA BARRA DE NAVEGACIÓN ESTÁ BIEN*/
.main-about-us{
    display: flex;
    margin-top: 100px;
    margin-right: 100px;
}

.about-us{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;


    
}

.us-text{
    display: flex;
    position: relative;
    margin-top: 150px;
    margin-left: 130px;
    justify-content: center;
    
}

.us-title{
    display: inline;
    position: absolute;
    margin-left: 130px;
    margin-top: 100px;
    
}
  
.team{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    position: relative;
    margin-top: 100px;

    
}

.team h2{
    padding-bottom: 20px;
}

.team p{
    padding-bottom: 20px;
}

.team img{
    display: flex;
    
}

.customer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    position: relative;
    margin-top: 100px;
    

}

.customer h2{
    padding-bottom: 20px;
}
   
.customer p{
    padding-bottom: 20px;
}
 
.customer img{
    display: flex;
}   

.cybersecurity{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    position: relative;
    margin-top: 100px;
    
}

.cybersecurity h2{
    padding-bottom: 20px;
}

.cybersecurity p{
    padding-bottom: 20px;
}

.cybersecurity img{
    display: flex;
} 

.metrics{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    font-size: larger;
    margin-top: 50px;
    position: relative;
}

    

.metric-1{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    border-style: solid;
    border-color: black;
}

.metric-2{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    border-style: solid;
    border-color: black;
}


.metric-3{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    border-style: solid;
    border-color: black;
}

.metric-4{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    border-style: solid;
    border-color: black;
}

/*TARJETA - LA BARRA DE NAVEGACIÓN ESTÁ MAL POSICIONADA*/

.card-title{
    
    display: flex;
    position: relative;
    margin-top: 200px;
    justify-content: center;
    margin-bottom: 50px;
}

.main-container-card{
    background-color: blueviolet;
    display: flex;
}

.main-container-list{
    
    list-style: none;
    position: relative;
    margin-left: 250px;
    padding: 60px;
}

.card-image{
    
    width: 525px;
    height: 320px;
    position: relative;
    margin-right: 100px;
}

.main-registrate{
    display: block;
    margin-left: 200px;
    margin-right: 100px; 
    margin-top: 50px;  
}

.card-button{
    display: block;
    margin-left: 400px;
}


/*EARN - LA BARRA DE NAVEGACION QUEDA MAL POSICIONADA*/ 

.main-container-earn{
    background-color: aquamarine;
    position: relative;
    margin-top: 100PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10PX;
}

.cripto-earn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.crypto_1{
    border-style: solid;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    
}

.crypto_2{
    border-style: solid;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    
}

.crypto_3{
    border-style: solid;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
   
}

.crypto_4{
    border-style: solid;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    
}

.crypto_5{
    border-style: solid;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    
}

.main-container-whyvini{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
    
    
}

.main-whyvini{
    
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
    
    
}

.main-container-whyvini_1{
    display: block;
    position: relative;
    box-sizing: border-box;
    border-style: solid;
    padding: 10px;
    
}
    
    

.main-container-whyvini_2{
    display: block;
    position: relative;
    box-sizing: border-box;
    border-style: solid;
    padding: 10px;
}
    
    

.main-container-whyvini_3{
    display: block;
    position: relative;
    box-sizing: border-box;
    border-style: solid;
    padding: 10px;
}
    
    
    
/*CONTACTO*/

.contact__form{
    display: flex;
    background-color: aqua;
    margin: 100px;
}



#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 600px;
    width: 300px;
    background-color: deeppink;
}
