




.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

.main-container-earn{
    
    position: relative;
    margin-top: 150PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10PX;
    
        h1{
            color: $vini-color;
            
        }
        p{
            font-size: large;
            text-align: center;
            margin-top: 20px;
            width: 50%;
            border-bottom: 2px solid $vini-color;
            padding-bottom: 20px;
        }
            
    }
                
            
    
.earn-image{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    
    width: 45%;
}

.cripto-earn{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $vini-color;
    margin: auto;
}
   
 @mixin cryptos {
    border-radius: 3%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 16%;
    text-align: center;
    box-shadow: 1px 1px 10px -3px $primary-color;
    color: $vini-color;
 }   
    

.crypto_1, .crypto_2, .crypto_3, .crypto_4{
    @include cryptos()
}

@mixin crypto-hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.crypto_1:hover, .crypto_2:hover, .crypto_3:hover, .crypto_4:hover{
    @include crypto-hover()
}

.main-container-whyvini{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
    margin-bottom: 80px;
    padding: 5%;
    background-color: $primary-color;
    
}
.whyvini-title{
    text-align: center;
    color: #fff
}
.main-whyvini{
    
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}
    
.main-whyvini p {
    text-align: center;
    color: $vini-color;
}   

@mixin whyvini {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    width: 25%;
    border-radius: 3%;
    color: $vini-color;
    background-color: #fff;
}
    
.main-container-whyvini_1, .main-container-whyvini_2, .main-container-whyvini_3 {
    @include whyvini()
}
 
    
    


.main-container-whyvini_1, .main-container-whyvini_2, .main-container-whyvini_3 {
    text-align: center;
} 
@media screen and (max-width: 900px) {
    .cripto-earn{
        flex-direction: column;
        align-items: center;
        
    }     
    
    .crypto_1, .crypto_2, .crypto_3, .crypto_4, .crypto_5{
           width: 80%;
           margin-top: 10px;
    } 
    .main-whyvini{
           
           flex-direction: column;
            align-items: center;
    } 
    
    .main-container-whyvini_1, .main-container-whyvini_2, .main-container-whyvini_3 {
            width: 80%;
            margin: 10px;
    }  
        
    .footer-container{
            flex-direction: column;
    }
        
    .social-networks, .contact, .iframe{
           width: 100%;
    
    }
    .footer-container{
        flex-direction: column;
    }
    
   .social-networks, .contact, .iframe{
       width: 100%;

   }
 }

.footer-container{
    background-color: #1C1B4D;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 130PX;
    flex-wrap: wrap;
    padding: 2%;
    align-items: center;
    justify-content: space-evenly;
    
}
    
    

.footer { grid-area: 3 / 1 / 4 / 3; }

.footer-title{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 50px;
}
    
.social-networks{
    color: #fff;
    list-style: none;
    position: relative;
    width: 30%;
    padding: 2%;
}
    
.social-networks-ul{
    display: flex;
    margin-right: 50px;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.social-networks-ul a{
    text-decoration: none;
    color: white;
}



.contact{
    margin-top: 50px;
    color: #fff;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    padding: 2%;
}


    
    

iframe{
    display: flex;
    position: relative;
    width: 30%;
    padding: 2%;
}
    
    

    
     