
* {
    font-family: $fuente;
    
}
html{
    scroll-behavior: smooth;
}

.banner{
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: $vini-color;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url('../../imagenes/banner1.jpg');
     animation: banner 10s infinite linear; 
}

.banner-content{
    margin: 0;
    padding: 0;
    margin-top: 80px;
    width: 100%;
    height: 100%;
    color: $color-fuente;
    background-color: rgba(28, 27, 77, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        .h1__titulo{
            font-weight: bold;
            font-size: $titulos;
            margin: 0;
            padding: 0;
            padding-bottom: 20px;
            text-align: center;
        }
}




.boton{
    text-decoration: none;
   
}

.btn1{
    background-color:$primary-color;;
	border-radius:28px;
	border:1px solid $primary-color;;
	display:inline-block;
	cursor:pointer;
	color:$color-fuente;;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px $primary-color;
    font-size: $parrafos;
    
}

.btn1:hover{
    
    color: $color-fuente;;
    background-color: rgb(28, 27, 77);
}

.btn2{
    @extend .btn1;
   
}
.btn2{
    background-color: $color-fuente;
    color: $primary-color;
}
 
.btn2:hover{
    background-color: #1C1B4D;
    color: $color-fuente;;
}

 @keyframes banner {
    0%{
        background: url('../../imagenes/banner1.jpg');
        background-size: cover;
    }

    50%{
        background: url('../../imagenes/banner1.jpg');
        background-size: cover;
    }

    51%{
        background: url('../../imagenes/banner2.jpg');
        background-size: cover;
    }

    100%{
        background: url('../../imagenes/banner2.jpg');
        background-size: cover;
    }
} 
    

    

/*====================================== INDEX -ICONOS E INFO DE LOS SERVICIOS===========================================*/

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin-top: 70px;
    flex-wrap: wrap;
}

.slide-in-fwd-bottom {
	-webkit-animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-bottom {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(800px);
              transform: translateZ(-1400px) translateY(800px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-bottom {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(800px);
              transform: translateZ(-1400px) translateY(800px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }  


  .icons_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-fuente;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 25%;
    border-radius: 3%;
}
 .icons__h2{
     font-size: $subtitulos;
     color: $vini-color;
     text-align: center;
 }

.icons_1 p{
    text-align: center;
    font-size: $parrafos;
    color: $vini-color;
}  
    

.icons__image{
    width: 30%;
}
    
.icons_1:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
  

.icons_2 {
   @extend .icons_1
    
}
    
.icons_2 p{
    text-align: center;
    font-size: $parrafos;
}
    
.icons_2:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.icons_3{
    @extend .icons_1;
   
}
    
.icons_3 p{
    text-align: center;
    font-size: $parrafos;
}
.icons_3:hover{
    transition: 0.5s;
    transform: scale(1.1);
}   
    
    

    
    



    


    
 
   
    


    
    





  


    





/* ================================ INDEX -DESCRIPCIÓN DE LA SEGURIDAD DEL SITIO======================================*/

.security{
    display: flex;
    flex-direction: row;
    position: relative;
    /* flex-wrap: nowrap; */
    align-items: center;
    width: 80%;
    margin-left: 10%;
    
}

.security__image {
    display: flex;
    margin-left: 5%;
    position: relative;
    width: 30%;
    height: 30%;
}

.security-h2{
    font-weight: bold;
    font-size: $subtitulos;
    display: flex;
    position: relative;
    margin-top: 10%;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    align-items: center; 
    color: $vini-color;
}
        
    
.security__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 80%;
    background-color: #b80e6648; 
    border-radius:1%;
        h2{
            color: $vini-color;
        }
}   
    
.container-1 {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    
}

.container-2{
    @extend .container-1;
   
}        
    
    
    
    
    
    
    
   
    


    
    


   


    

    
    
    

    
    
    


    


.icon-security_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px;
    position: relative;
    margin-top: 15px;
    
} 

.security-p {
    color: $vini-color;
    width: 60%;
    text-align: center;
}

.icon-security_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: black;
    border: 10px;
    position: relative;
    margin-top: 15px;

}   
    
.icon-security_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    border-color: black;
    border: 10px;
    position: relative;
    margin-top: 15px;
    
}   
    
.icon-security_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    border-color: black;
    border: 10px;
    position: relative;
    margin-top: 15px;
}  

  /* =================================== INDEX-COMO SER CLIENTE DEL BANCO ====================================*/     
    
  .be-part-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin-top: 70px;
} 

.be-part-icons { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin-top: 70px;
    padding: auto;
    
} 

.be-part-title{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    color: $vini-color;
    font-weight: bold;
    font-size: $subtitulos;
}
    
.be-part-icon_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-radius: 3%;
    padding: 5px;
    background-color: $color-fuente;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1) 
   }
   

.be-part-icon_1 p{
    text-align: center;
    font-size: $parrafos;
    color: $vini-color;
}

 .be-part-icon_1:hover{
   transition: 0.5s;
   transform: scale(1.1);
   }

.be-part-icon_2 {
    @extend .be-part-icon_1
    
}
.be-part-icon_2 p{
   text-align: center;
   font-size: $parrafos;
}

.be-part-icon_2:hover{
   transition: 0.5s;
   transform: scale(1.1);
   }

.be-part-icon_3 {
    @extend .be-part-icon_1
}
.be-part-icon_3 p{
   text-align: center;
   font-size: $parrafos;
}

.be-part-icon_3:hover{
   transition: 0.5s;
   transform: scale(1.1);
   }

.be-part-icon_4 {
    @extend .be-part-icon_1
}
.be-part-icon_4 p{
   text-align: center;
   font-size: $parrafos;
}

.be-part-icon_4:hover{
   transition: 0.5s;
   transform: scale(1.1);
   }    


/* =================================== INDEX-CÓMO INGRESAR DINERO A LA CUENTA ===================================*/

.load-money {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    
    }
    
   
 
    .load-money-title{
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 5%;
        text-align: center;
        font-weight: bold;
        font-size: $subtitulos;
        color: $vini-color;
      
        
    }  
    
.load-money-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 3%;
    margin-top: 3%;
} 
    
    

        
.load-money-icon_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px -3px $primary-color;
    border-radius: 3%;
    width: 40%;
    padding: 2%;
}
.load-money-icon_1:hover{
    transition: 0.5s;
    transform: scale(1.1);
    }     
        
.load-money-icon_2 {
    @extend .load-money-icon_1
}
    

.load-money-icon_2:hover{
    transition: 0.5s;
    transform: scale(1.1);
    }   


    @media screen and (max-width: 900px) {
        /*RESPONSIVE - INDEX*/
        
        

        .h1__titulo{
            font-size: $subtitulos;
            width: 80%;
        }

        .main__parrafo{
            width: 80%;
            text-align: center;
        }
            
        .btn2{
            margin-top: 10px;
        }   
    
        .imagen_1 {
            position: relative;
            display: block;
            width: 80%;
            padding: 10%;
            border-bottom: 1px solid $vini-color;
        }
        
        .icons {
            display: flex;
            flex-flow: column wrap;
            width: 80%;
            margin: auto;
            position: relative;
            margin-top: 70px;
            align-items: center;
            padding-bottom: 50px;
            border-bottom: 1px solid $vini-color;
            
        }
        .icons_1, .icons_2, .icons_3{
            width: 80%;
            margin: 10px;
        }
        
        .security__image{
            display: none;
        }
        
        .security__container{
            background-color: $color-fuente;
        }
      
        .security-h2{
            font-size: $subtitulos;
            font-weight: bold;
            width: 80%;
            padding-top: 8%;
            
            margin: auto;
            
        }
            

        .container-1, .container-2{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 120%;
            background-color: none;
            margin-top: 20px;
            
        }
        
        .be-part-title{
            font-size: $subtitulos;
            
            width: 80%;
            padding-top: 8%;
            border-top: 1px solid $vini-color;
            margin: auto;
        }
        .be-part-icons { 
            display: flex;
            flex-flow: column wrap;
            max-width: 117rem;
            position: relative;
            margin-top: 70px;
            align-items: center;
            
        } 
    
        .be-part-icon_1, .be-part-icon_2, .be-part-icon_3, .be-part-icon_4 {
            width: 80%;
            margin: 10px;
        }

    .load-money{
        margin-top: 20%;
        border-top: 1px solid $vini-color;
        width: 80%;
        margin: auto;
    }

        .load-money-icons{
            flex-direction: column;
            
        
        .load-money-title{
            width: 80%;
            margin: auto;
            margin-top: 20px;
        }

        .load-money-icon_1, .load-money-icon_2{
            width: 80%;
            margin: auto;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        .footer-container{
            flex-direction: column;
        }
        
       .social-networks, .contact, .iframe{
           width: 100%;
    
       }

    }
} 


    




    


    

 

 


     
 
 
 

