.main-nosotros-h2{
    margin-top: 10%; 
    margin-bottom: 0%;
    text-align: center;
    padding: 5%;
    background-color: #b80e663c;
    font-size: $titulos;
    color: $vini-color;
}


 .main-nosotros{
    
    top: 0%;
    width: 80%; 
    margin: auto; 
}
     
    

.main-about-us{
    border-bottom: 1px solid $vini-color;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30%;
}

.span-bold{
    font-weight: bold;
} 

.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  
    
    
    
    
   


    

    

    


.about-us{
    position: relative;
    display: flex;
    width: 60%;
    
    margin-left: 10%;
    flex-direction: column;
    
}  
    
    
    
    
    
    


.about-us-titulo  {
    display: inline;
    font-size: $subtitulos;
    position: relative;
    color: $vini-color;
    font-weight: bold;
}
   
    
    

.about-us-parrafo { 
    width: 100%;
    margin: auto;
    margin-top: 1%;
    position: relative;
    font-size:$parrafos;
    color: $vini-color;
    text-align: left;
    
    
}
    
    
   
    
.us-image {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 10%;
    width: 70%;
    margin-right: -7%;
}



 /* ================================ NOSOTROS - EQUIPO ====================================================*/   
    
  
.team{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    position: relative;
    margin-top: 10px;
    border-bottom: 1px solid $vini-color;
    
    
}

.team h2{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: $subtitulos;
}

.team p{
    padding-bottom: 20px;
    text-align: center;
    width: 80%;
}

.team img{
    display: flex;
    width: 70%;
   

    
}

/* ================================================NOSOTROS - CLIENTES=================================*/

.customer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    position: relative;
    padding-bottom: 5%;
    border-bottom: 1px solid $vini-color;
    
    

}

.customer h2{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: $subtitulos;
}
   
.customer p{
    padding-bottom: 20px;
    text-align: center;
    width: 80%;
    font-size: $parrafos;
}
 
.customer img{
    display: flex;
    width: 100%;
    margin: auto;
}   


/*====================================================== NOSOTROS - SEGURIDAD */
.cybersecurity{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    position: relative;
    margin-bottom: 10%;
}
    
    
    
    

.cybersecurity h2{
    display: inline;
    text-align: center;
    font-size: $subtitulos;
    font-weight: bold;
    padding: 8%;
}
    
    
    

.cybersecurity-content{
    
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

 .cybersecurity p {
    display: flex;
    width: 50%;
    text-align: left;
    text-align: left;
    font-size: $parrafos;
    
}

.cybersecurity-img{
    width: 50%;
    height: 50%;
}





/*=============================== NOSOTROS - METRICAS ==========================================*/

.metrics{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin-top: 70px;
    flex-wrap: wrap;
}

.metrics p{
    text-align: center;
}  

    

.metric-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px -3px rgba(23, 145, 177, 1);
    padding: 5px;
    width: 20%;
    border-radius: 3%;
        &:hover{
            transition: 0.5s;
            transform: scale(1.1);
        }
}

.metric-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px -3px rgba(23, 145, 177, 1);
    padding: 5px;
    width: 20%;
    border-radius: 3%;
        &:hover{
            transition: 0.5s;
            transform: scale(1.1);
     }
}


.metric-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px -3px rgba(23, 145, 177, 1);
    padding: 5px;
    width: 20%;
    border-radius: 3%;
    &:hover{
        transition: 0.5s;
        transform: scale(1.1);
    }
}

.metric-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px -3px rgba(23, 145, 177, 1);
    padding: 5px;
    width: 20%;
    border-radius: 3%;
    &:hover{
        transition: 0.5s;
        transform: scale(1.1);
    }
}


@media screen and (max-width: 900px){
    
   
   
    .main-nosotros{
        
        margin-top: 0;
        width: 100%; 
        margin: auto; 
    }
    
    
    .main-about-us{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 15%;
        width: 80%;
        align-items: center;
        justify-content: center; 
        border-bottom: 1px solid $vini-color
    }

    .main-nosotros-h2{
    font-size: $subtitulos;
    text-align: justify;
}
    

    .about-us-titulo{
        text-align: center;
        
    }

    .about-us{
        margin-left: 0%;
    }
    .us-image{
        position: relative;
        display: block;
        width: 100%;
        padding: 10%;
    }
        
    .main-nosotros-h2{
            
            width: 80%;
            text-align: center;
            margin-left: 10%;
    } 

    .customer img{
        width: 80%;
    }
       /*  .contact__form{
            flex-flow: column wrap;
            width: 80%;
            
        }
        .contact__form-text, .fielset, .contact__form{
        margin-top: 15%;
            width: 100%;

        } */

        .metrics {
            display: flex;
            flex-flow: column wrap;
            max-width: 117rem;
            position: relative;
            margin-top: 70px;
            align-items: center;
            
            
        }
        .metric-1, .metric-2, .metric-3, .metric-4{
            width: 80%;
            margin: 10px;
        }


    
    
    .cybersecurity{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }

    
    
    

    .cybersecurity p {
        width: 100%;
        text-align: left;
        padding-left: 2%;
        padding-right: 2%;
    } 

    .cybersecurity-img{
        width: 100%;
        padding-bottom: 8%;
    }
}